<div class="row book-list">
    <div *ngFor="let item of bookList" class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <div class="image" [ngStyle]="{'background-image': 'url(' + item.bookCover + ')'}"></div>
            </div>
            <div class="card-content">
                <span class="card-title">{{item.name}}</span>
            </div>
            <div class="card-action">
                <a (click)="onOpen(item)">Open</a>
            </div>
        </div>
    </div>
</div>
