.house {
  .card-panel {
    background-color: white !important;
    color: #4e4e4e;
    .name {
      font-weight: 500;
      color: #000;
    }

    .title {
      font-size: 20px;
      text-align: center;
    }

    .link {
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: #e59232;
      }
    }
  }
}