.card-panel {
  color: #343434;
  background-color: #ffffff !important;

  img {
    float: left;
    width: 300px;
    margin-right: 10px;
  }

  .book-description{
    font-size: 18px;
    margin-top: 10px;
  }

  .title{
    font-size: 25px; text-align: center;
  }
}

