.character-list {
  .load-more {
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    &:hover {
      background-color: #d4d4d4;
    }
  }

  .collection-item{
    color: #343434;
  }
}